body {
	font-size: 12px; 
	text-align: left;
}

a:active, a:link, a:visited {
	color: #0D5798;    
}
a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.rich-table {
    width:100%;
}

h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
	
}

.body {
	padding: 30px;
	display:block; float:left;
	width:75%;
	
}
a {display:block}
.columnHeader:hover
{
    color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}
.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}
.errors {
	color: red;
	vertical-align: middle;
}
img.errors {
	padding-right: 5px;
}
.errors input {
	border: 1px solid red;
}
.errors textarea {
	border: 1px solid red;
}
.clear{

}
.required {
	color: red;
	padding-left: 2px;
}

.rich-stglpanel-body {
   overflow: auto;
}

.richcomponentsmenu {
display: block;
float:left; width: 200px;
height: 600px;
padding-top: 30px;

}
.richcomponentsmenu a:HOVER {background: #FFFFFF; display: block}
.dr-pmenu-hovered-element {background-color: #FFFFFF;}

.dr-toolbar-int {padding: 2px 3px 2px 3px;}


.dr-pnl-b .simpletext p {font-size: 12px;}
#mainMenu {text-align: left;}

.tableofattributes {padding: 0px; margin: 0px; width: 400px; margin-top: 20px; border: 1px solid #8fbde6; border-bottom: none;}


.tableofattributes thead td {background: #F0F8FF; font-weight: 900; padding-left: 5px;}
.tableofattributes tbody td {padding-left: 5px; border-bottom: 1px solid #8fbde6 }
.bodyClass {border: 1px solid black;}

.rich-page {margin: 0px; padding: 0px;}
.rich-page-main{float:right;margin-left:-25em;}
.rich-page-sidebar{float:left;width:23.076923em;*width:22.500563em;}
.rich-page-body{margin-left:24.076923em;*marginleft:23.475563em;}
.rich-page-body{float:none;width:auto;}
