.menu_width{width : 300px;}

body {
	margin : 0px; 
	background : #f1f1f1;  /*generalBackgroundColor*/
}

.page_size {
	width : 100%; 
	height : 100%;
}

.header_bg {
	background : url(images/bg_header.png) top left repeat-x #005000; /*headerBackgroundColor*/
	border-bottom : 1px solid #f1f1f1;  /*generalBackgroundColor*/
}

.header_content {
	margin : 0px 0px 0px 0px; 
	height : 95px; position : relative;
}

.spacer{font-size : 1px;}

.menu_col {
	border-right : 2px solid #C0C0C0;  /*panelBorderColor*/
	border-top : 2px solid #C0C0C0;  /*panelBorderColor*/
	border-bottom : 2px solid #C0C0C0;  /*panelBorderColor*/
	vertical-align : top; 
	background : #f1f1f1;  /*generalBackgroundColor*/
}

.content_col {
	border-top : 2px solid #C0C0C0;  /*panelBorderColor*/
	border-bottom : 2px solid #C0C0C0;  /*panelBorderColor*/
	vertical-align : top; 
	width : 100%; 
	background : #f1f1f1;  /*generalBackgroundColor*/
}

*.menu_col, *.content_col, *.footer_bg {
	color : #000000; /*generalTextColor*/
	font-size : 11px; /*generalSizeFont*/
	font-family : Arial, Verdana, sans-serif ; /*generalFamilyFont*/
	
}

*.header_content {
	color : #FFFFFF; /*headerTextColor*/
	font-size : 12px; /*headerSizeFont*/
	font-family : Arial, Verdana, sans-serif ; /*headerFamilyFont*/
	
}

.footer_bg {
	border-top : 1px solid #f1f1f1;  /*generalBackgroundColor*/
	background : url(images/bg_footer.png) top left  repeat-x #c0c0c0;  /*panelBorderColor*/
}

.footer_bg_content {
	margin : 0px 0px 0px 0px; 
	height : 45px; 
	position : relative;
}

